# Entornos virtuales (puede estar en la raíz o en cualquier subcarpeta)
.venv/
venv/

# Archivos compilados de Python (cualquier nombre, cualquier carpeta)
__pycache__/
*.pyc

# Variables de entorno con datos sensibles
.env

# Cache de pytest
.pytest_cache/